

@mixin container {
    display: block;
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
}

@mixin btn($background){
    background: $background;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
}

@mixin input{
    padding: 8px;
    outline: none;
    border: 0;
    background: #e8e8e8;
    color: $darkGrey;
    font-weight: bold;
    ::-webkit-input-placeholder { 
        color:$darkGrey;
    }
    ::-moz-placeholder { 
       color:$darkGrey;
    }
      
}

@mixin setOrderMenu($number:1){
    @for $var from 1 to $number {
        &--item:nth-child(#{$var}){
            order: $var;
        }
    }
}


@mixin makeSprite($x:0,$y:0,$width:0,$height:0){
    background-position: $x $y;
    width: $width;
    height: $height;
}

@mixin addFont($name,$format){
    @font-face {
        font-family: '#{$name}-#{$format}' ;
        src: url('../../fonts/#{$name}-#{$format}.ttf') format('truetype');
    }
 }