@font-face {
  font-family: "ProximaNova-Bold";
  src: url("../../fonts/ProximaNova-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "ProximaNova-Light";
  src: url("../../fonts/ProximaNova-Light.ttf") format("truetype");
}

@font-face {
  font-family: "ProximaNova-Regular";
  src: url("../../fonts/ProximaNova-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "ProximaNova-Semibold";
  src: url("../../fonts/ProximaNova-Semibold.ttf") format("truetype");
}

.footer {
  display: block;
  width: 100%;
  max-width: 1256px;
  margin: 0 auto;
  padding-top: 10px;
}

.footer__top {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.footer__info {
  width: 250px;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.footer__info--title {
  font-size: 18px;
  color: #5b5b5b;
  text-transform: uppercase;
  font-family: 'ProximaNova-Semibold', Arial;
}

.footer__info--text {
  color: #8c8c8c;
  margin-top: 5px;
  font-family: 'ProximaNova-Regular', Arial;
}

.footer__info--paragraph {
  color: #8c8c8c;
  font-family: 'ProximaNova-Light', Arial;
}

.footer__social {
  display: flex;
}

.footer__social--link {
  margin-right: 10px;
}

.footer__newletter {
  width: 250px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.footer__newletter--input-100 {
  width: 100%;
  padding: 8px;
  outline: none;
  border: 0;
  background: #e8e8e8;
  color: #5b5b5b;
  font-weight: bold;
}

.footer__newletter--input-100 ::-webkit-input-placeholder {
  color: #5b5b5b;
}

.footer__newletter--input-100 ::-moz-placeholder {
  color: #5b5b5b;
}

.footer__newletter--input-70 {
  width: 70%;
  padding: 8px;
  outline: none;
  border: 0;
  background: #e8e8e8;
  color: #5b5b5b;
  font-weight: bold;
  margin-top: 15px;
}

.footer__newletter--input-70 ::-webkit-input-placeholder {
  color: #5b5b5b;
}

.footer__newletter--input-70 ::-moz-placeholder {
  color: #5b5b5b;
}

.footer__newletter--enviar {
  width: 25%;
  height: 31px;
  margin-top: 15px;
  margin-left: 5%;
  border: 0;
  background: #273578;
  color: white;
  font-family: 'ProximaNova-Regular', Arial;
}

.footer__copyright {
  text-align: center;
  width: 80%;
  margin: 20px auto;
  font-family: 'ProximaNova-Regular', Arial;
}

.footer__end {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 35px;
  background: #273578;
}

.footer__end--paragraph {
  color: white;
  text-transform: uppercase;
  font-family: 'ProximaNova-Regular', Arial;
}
