@font-face {
  font-family: "ProximaNova-Bold";
  src: url("../../fonts/ProximaNova-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "ProximaNova-Light";
  src: url("../../fonts/ProximaNova-Light.ttf") format("truetype");
}

@font-face {
  font-family: "ProximaNova-Regular";
  src: url("../../fonts/ProximaNova-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "ProximaNova-Semibold";
  src: url("../../fonts/ProximaNova-Semibold.ttf") format("truetype");
}

.menu {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

.menu__main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.menu__main--name {
  display: block;
  margin: 0px 20px;
  padding: 26px 0;
  border-bottom: 3px solid white;
  font-family: 'ProximaNova-Semibold', Arial;
}

.menu__main--name.menu__main--name-ativo {
  border-bottom: 3px solid #65c4b6;
}

.menu__main--logo {
  order: 5 !important;
}

.menu__main--item:nth-child(1) {
  order: 1;
}

.menu__main--item:nth-child(2) {
  order: 2;
}

.menu__main--item:nth-child(3) {
  order: 3;
}

.menu__main--item:nth-child(4) {
  order: 4;
}

.menu__main--item:nth-child(5) {
  order: 5;
}

.menu__main--item:nth-child(6) {
  order: 6;
}

.menu__main--item:nth-child(7) {
  order: 7;
}

.menu__search {
  position: absolute;
  right: -10px;
}

.menu__search--btn {
  border: 0;
  background: none;
  position: relative;
  right: 31px;
  padding: 9px;
  -webkit-appearance: none;
}

.menu__search--input {
  border: 0;
  border-bottom: 2px solid #ebebeb;
  outline: 0;
  height: 30px;
  text-transform: uppercase;
}

.menu__search--input::-webkit-input-placeholder {
  color: #8c8c8c;
}

.menu__search--input::-moz-placeholder {
  color: #8c8c8c;
}

.submenu {
  background-color: white;
  position: absolute;
  width: 100%;
  left: 0;
  top: 75px;
  overflow: hidden;
  height: auto;
  transition: 1s;
  max-height: 0;
}

.submenu__content {
  max-width: 1000px;
  padding: 40px 0;
  margin: 0 auto;
  display: flex;
  width: 95%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.submenu__item {
  display: flex;
  flex-direction: column;
}

.submenu__item--bold, .submenu__item--link, .submenu__item--link-bold, .submenu__item--space {
  padding: 10px;
  width: 100%;
  color: #5b5b5b;
}

.submenu__item--bold, .submenu__item--link-bold {
  font-family: 'ProximaNova-Bold', Arial;
}

.submenu__item--link {
  font-family: 'ProximaNova-Regular', Arial;
}

.submenu__item--space {
  height: 23px;
}

.submenu__show {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .menu {
    justify-content: space-between;
  }
  .menu__search {
    position: initial;
    right: 0;
  }
  .menu__main {
    margin-left: 20px;
  }
  .menu__main--name {
    margin: 0px 10px;
  }
  .menu__main--logo {
    order: 1 !important;
    overflow: hidden;
    width: 35px;
  }
  .menu__main--img {
    width: 125px;
  }
}

@media only screen and (max-width: 768px) {
  .menu {
    flex-direction: column;
  }
  .menu__search {
    position: initial;
    right: 0;
    order: 1;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .menu__search--input {
    border-bottom: 3px solid #ebebeb;
    margin-left: 30px;
    height: 30px;
    padding: 13px;
    width: 80%;
    text-transform: uppercase;
  }
  .menu__main {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    order: 2;
  }
  .menu__main--name {
    padding: 15px 10px;
    margin: 0 0;
    border-bottom: none;
  }
  .menu__main--name.menu__main--name-ativo {
    border-bottom: none;
    background-color: #65c4b6;
    color: white;
  }
  .menu__main--logo {
    order: 0 !important;
    display: none;
  }
  .menu__main--img {
    margin: 0 auto;
    display: block;
  }
  .menu__main--item {
    width: 100%;
  }
  .submenu {
    z-index: 1;
    display: block;
    position: initial;
  }
  .submenu h3.submenu__item--bold {
    background: #5b5b5b;
    color: white;
  }
  .submenu__content {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0px 0;
  }
  .submenu__item {
    width: 100%;
  }
  .submenu__item--link {
    font-family: 'ProximaNova-Regular', Arial;
    background: #ebebeb;
  }
  .submenu__show {
    width: 100%;
    overflow: hidden;
    height: auto;
    max-height: 0;
    transition: .7s;
  }
  .submenu__show.submenu__show-ativo {
    max-height: 1000px;
  }
}

.submenu.ativo {
  max-height: 1000px;
}
