.see {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  background-image: url("../../imgs/banner.png");
  background-position: center;
  background-size: cover;
}

.see__content--title {
  color: white;
  font-size: 30px;
  font-family: 'ProximaNova-Bold', Arial;
}

.see__content--btn {
  background: red;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  padding: 10px 10px;
  margin: 10px auto;
  display: block;
  max-width: 150px;
  font-family: 'ProximaNova-Bold', Arial;
}
