@import '../tools/mixin.scss';
@import '../theme/design.scss';
.footer{
    @include container;
    padding-top: 10px;
    &__top{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        border-top: 1px solid $whiteGrey;
        border-bottom: 1px solid $whiteGrey;
    }
    &__info{
        width: 250px;
        margin: 20px;
        display: flex;
        flex-direction: column;
    
        &--title{
            font-size: 18px;
            color:  $darkGrey;
            text-transform: uppercase;
            font-family: 'ProximaNova-Semibold', Arial;
        }
        &--text{
            color: $mediumGrey;
            margin-top: 5px;
            font-family: 'ProximaNova-Regular', Arial;
        }
        &--paragraph{
            color: $mediumGrey;
            font-family: 'ProximaNova-Light', Arial;
        }
    }
    &__social{
        display: flex;
        margin-top: 10px;
        &--link{
            margin-right: 10px;
        }
    }
    &__newletter{
        width: 250px;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        &--input-100{
            width: 100%;
            @include input;
        }
        &--input-70{
            width: 70%;
            @include input;
            margin-top: 15px;
        }
        &--enviar{
            width: 25%;
            height: 31px;
            margin-top: 15px;
            margin-left: 5%;
            border: 0;
            background:$darkBlue;
            color: white;
            font-family: 'ProximaNova-Regular', Arial;

        }
    }

    &__copyright{
        text-align: center;
        width: 80%;
        font-size: 11px;
        
        
        margin: 20px auto;
        font-family: 'ProximaNova-Regular', Arial;
    }

    &__end{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        
        background: $darkBlue;
        &--paragraph{
            color: white;
            text-transform: uppercase;
            font-family: 'ProximaNova-Regular', Arial;
            margin: 10px;
        }
    }
}

@media only screen and (max-width:768px){
        

        .footer{
            &__social{
                justify-content: center;
            }
            &__info{
                text-align: center;
            }
            &__end{
                &--paragraph{
                    text-align: center;
               }
            }

        }
}