@import '../tools/mixin.scss';
@import '../theme/design.scss';
.see{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../imgs/bannerbottom.png');
    background-position: center;
    background-size: cover;
    &__content{
        &--title{
            color: white;
            font-size: 30px;
            font-family: 'ProximaNova-Bold', Arial;
        }
        &--btn{
            @include btn($whiteBlue);
            padding: 10px 10px;
            margin: 10px auto;
            display: block;
            max-width: 150px;
            font-family: 'ProximaNova-Bold', Arial;
        }
    }
}