.container {
  display: block;
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
}

.sprite {
  background-image: url("../../imgs/sprite.png");
  background-repeat: no-repeat;
  display: block;
}

.sprite.sprite-arrow {
  background-position: -5px -5px;
  width: 18px;
  height: 31px;
}

.sprite.sprite-facebook {
  background-position: -33px -5px;
  width: 11px;
  height: 20px;
}

.sprite.sprite-instagram {
  background-position: -54px -5px;
  width: 20px;
  height: 20px;
}

.sprite.sprite-lupa {
  background-position: -84px -5px;
  width: 9px;
  height: 9px;
}

.sprite.sprite-mapa-ico {
  background-position: -103px -5px;
  width: 8px;
  height: 13px;
}

.sprite.sprite-sacola-ico {
  background-position: -121px -5px;
  width: 13px;
  height: 16px;
}
