@import '../tools/mixin.scss';

.content{
    display: flex;
    justify-content: space-around;
    &__frame{
        display: block;
        width: calc(100vw /2);
        overflow: hidden;
        
        &--img{
            width: 100%;
        }
    }
    &__box{
        display: flex;
        align-items: top;
        justify-content: center;
        width: calc(100vw /2);
        margin-top:130px; 
    }
    &__align{
        position: relative;
        width: 60%;
        &--title,&--paragraph{
            text-align: center;
        }
        &--title{
            font-size: 24px;
            margin-bottom: 10px
        }
        &--paragraph{
            font-size: 18px;
            margin-top:20px;
            line-height: 25px;
        }
        &--row{
            position: absolute;
            right: 120px;
            width: calc(100% + 100px);
            background: grey;
            height: 1px;
            border: 0;
        }
        
        &--btn{
            @include btn(red);
            padding: 10px 10px;
            margin: 10px auto;
            display: block;
            max-width: 150px;

            
        }
    }
}

.reverse{
    flex-direction: row-reverse;
    .content{
        &__align{
            &--row{
                left: 120px;
                right: 0;
            }
        }
    }
}

@media only screen and (max-width:1366px) and(min-width:1025px){

}

@media only screen and (max-width:1024px) and(min-width:769px){
    .content{
        justify-content: space-between;
        &__frame{
            width: 40%;
        }
         &__box{
         width: 60%;
         margin-top:0; 
         align-self: center;
        }
        &__align{
        width: 80%;
            &--paragraph{
                font-size: 16px;
            }
        }
    }
}

@media only screen and (max-width:768px) {
    .content{
        justify-content: space-between;
        flex-wrap: wrap;
        &__frame{
            width: 100%;
            max-width: 668px;
            margin: 0 auto;
        }
         &__box{
         width:100%;
         margin-top:0; 
         align-self: center;
        }
        &__align{
        width: 50%;
            &--paragraph{
                font-size: 16px;
            }
            &--row{
                position: initial;
                right: 0;
                margin: 0 auto;
                width: 80%;
            }
        }
        
    }

    .reverse{
        flex-direction: row-reverse;
        .content{
            &__align{
                &--row{
                    left: 0;
                }
            }
        }
    }
}

